
<div class=" details_container">
    <button (click)="signout()"> SignOut </button>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
    
    <tr *ngFor = "let item of results trackBy: patientById">
        <td>{{item.id}} </td>
        <td>{{item.employee_name}} </td>
        <td>{{item.employee_age}}</td>
    </tr>
</table>
</div>