.card-body {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}


form {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 5px 5px #ddd;
  margin: 0 auto;
  padding: 50px;
}

.form-group {
  padding: 10px;
}

label {
  padding: 10px;
}

input {
  padding: 5px 5px;
}
