.AddDetails {
  position: relative;
  display: block;
  padding: 0px 20px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  .addDetailsContainer {
    position: relative;
    display: block;
    padding: 10px 0px;

    h4 {
      margin: 10px auto;
      position: relative;
      display: flex;
      flex-direction: row;
      line-height: 24px;

      .mat-icon {
        padding-left: 10px;
        cursor: pointer;
      }
    }

  }

  .AddElementcontainer {
    .mat-form-field {
      padding: 10px 20px 10px 0px;

      input {
        padding: 10px 0px;
      }
    }
  }
}
