<button (click)="signout()"> SignOut </button>

<div class="AddDetails">
  <div class="addDetailsContainer">
    <h4>Add Patient
      <mat-icon aria-hidden="false" color="primary" aria-label="Example add_circle_outline  icon" class="addDetailsBtn"
        (click)="addNewDetailsBtn()">
        <mat-icon>add_circle_outline</mat-icon>
      </mat-icon>
    </h4>
  </div>


  <div *ngIf="newPatiendClicked">
    <div class="AddElementcontainer">

      <mat-form-field appearance="outline" class="form-element">
        <input matInput type="text" class="form-control nameinput" id="id" name="id" [(ngModel)]="model.id"
          placeholder="id">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-element">
        <input matInput type="text" class="form-control nameinput" id="name" name="name" [(ngModel)]="model.name"
          placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-element">
        <input matInput type="number" class="form-control ageInput" id="Age" name="age" [(ngModel)]="model.age"
          placeholder="Age">
      </mat-form-field>

      <div class="submitBtnContainer">
        <button mat-button [disabled]="!model.id || !model.name || !model.age" color="primary" type="submit" class="saveBtn"
          (click)="addPatient()">SAVE</button>
      </div>
    </div>

    <div #dynamic></div>
  </div>
