<div class="example-container mat-elevation-z8">

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID  </th>
    <td mat-cell *matCellDef="let element" [routerLink]= "['/patientinfo',element.id]"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name  </th>
    <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.employee_age }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>